---
import type { MarkdownHeading } from "astro";
import TableContent from "./TableContent.astro";
import { ResponsiveShow } from "@components/preact/ResponsiveShow";

interface Props {
  headings: MarkdownHeading[];
}
const { headings } = Astro.props;
---

<ResponsiveShow deviceShow="desktopXl" client:only="preact">

    <h2 class="ont-semibold hidden lg-flex text-zinc8 dark-text-zinc2">
      On this page
    </h2>
    <TableContent headings={headings} />
</ResponsiveShow>
