---
import SidebarItem from "./../ui/SidebarItem.astro"

interface Props {
  activeItem:string,
  label: string;
  items: {
    icon: string;
    text: string;
    href: string;
    draft?: boolean;
  }[];
}

const { label, items, activeItem } = Astro.props;
---

<div class="flex flex-col space-y-3 text-sm wfull">
  <h2 text-zinc6 dark-text-zinc4 text-sm>
    {label}
  </h2>
  <ul class="flex flex-col space-y-1 text-zinc7 dark-text-zinc3 wfull">
    {items.map((item) => <SidebarItem activeItem={activeItem} {...item} />)}
  </ul>
</div>
