---
import type { MarkdownHeading } from "astro";

type HeadingWithSubheadings = MarkdownHeading & {
  subheadings: MarkdownHeading[];
};

interface Props {
  heading: HeadingWithSubheadings;
}

const { heading: h } = Astro.props;
---

<li>
    <a
      href={`#${h.slug}`}
      class="hover-text-zinc9
      dark-hover-text-white
      ease-linear duration-200 lg-ml4 inline-flex"
    >
      {h.text}
    </a>
    {h.subheadings.length > 0 && (
      <ol class="pl8 space-y-2 pt2">
        {h.subheadings.map((sub) => (
          <li>
            <a
              href={`#${sub.slug}`}
              class="flex items-center
              gap-x1  hover-text-zinc9 dark-hover-text-white ease-linear duration-200"
            >
              {sub.text}
            </a>
          </li>
        ))}
      </ol>
    )}
  </li>