<div class="my4 first-mt0 last-mb0 wfull">
    <div class="flex bg-white dark-bg-zinc950 b b-zinc2/90 dark-b-zinc8/60 rd-t-xl px4 py2.5">
        <div aria-hidden="true" un-flex gap-x3px items-center children-rd-full children-bg-zinc2 dark-children-bg-zinc8 children-size-2>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="bg-zinc1/60 dark-bg-zinc9/60 b b-zinc2/90 dark-b-zinc8/60 b-t-0 rd-b-xl children-rd-t-0 children-rd-b-xl">
        <slot/>
    </div>
</div>