---
import { getIcon } from './TabCodeBlock.astro';

interface Props {
  text: string;
  icon: string;
}

const { text, icon } = Astro.props;
---

<div class="my4 first-mt0 last-mb0 wfull">
  <div
    class="flex bg-white dark-bg-zinc950 b b-zinc2/90 dark-b-zinc8/60 rd-t-xl py1.5 px4"
  >
    <span
      class="flex items-center gap-x2"
    >
      <span aria-hidden="true" class="flex min-wmax">
        <span class={`flex text-sm ${getIcon(icon)}`}></span>
      </span>
      {text}
    </span>
  </div>
  <div
    class="bg-zinc1/60 dark-bg-zinc9/60 b b-zinc2/90 dark-b-zinc8/60 b-t-0 rd-b-xl children-rd-t-0 children-rd-b-xl"
  >
    <slot />
  </div>
</div>
