<div
  class="wfull my4 first-mt0 last-mb0 text-zinc7 dark-text-zinc3 bg-zinc1/90 dark-bg-zinc9/60 b b-zinc2/90 dark-b-zinc8/60 rd-xl p4 divide-y divide-zinc2/90 dark-divide-zinc8/60 children-py4 first-children-pt0 last-children-pb0"
>
  <slot />
</div>