---
import type { HTMLAttributes } from "astro/types"
import { cn } from "@lib/utils"

interface Props extends HTMLAttributes<"h3">{
}

const { class:className, ...rest } = Astro.props
---
<h3 class={`${cn("scroll-mt20 first-mt0 mt-8 text-md font-semibold text-zinc9 dark-text-white", className)}`} {...rest}>
    <slot/>
</h3>