---
import type { HTMLAttributes } from "astro/types"
import { cn } from "@lib/utils"

interface Props extends HTMLAttributes<"li">{
}

const { class:className, ...rest } = Astro.props
---
<li class={`${cn("mt2 first-mt0", className)}`} {...rest}>
    <slot/>
</li>