---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {}
const { href, "aria-label": label } = Astro.props;
const href_ = href as string;
---

{
  (href_ && href_.startsWith("/")) || (href_ && href_.startsWith("#")) ? (
    <a href={href} aria-label={!label || label === "" ? `Link to ${href}` : label} class="underline1 underline-1 wmax underline-offset-3 underline-dashed inline-flex
      gap-x2 px1 py0.5 rd-lg text-emerald7 dark-text-emerald5 hover-text-zinc9 dark-hover-text-white whitespace-normal break-words">
      <slot />
    </a>
  ) : (
    <a
      href={href_}
      aria-label={!label || label === "" ? `Link to ${href}` : label}
      target="_blank"
      rel="noopener noreferrer"
      class="text-emerald7 dark-text-emerald5 b b-zinc2/90  dark-b-zinc8/60 bg-zinc1/60 dark-bg-zinc9/60
       underline underline-offset-1 underline-1 underline-dashed wmax hover-text-zinc9 dark-hover-text-white whitespace-normal break-words px0.5"
    >
      <slot />
    </a>
  )
}
