<li
  class="step before-text-zinc8 dark-before-text-zinc2
before-bg-zinc1/60 dark-before-bg-zinc9/60 before-b before-b-zinc2/90 dark-before-b-zinc8/60
after-bg-zinc2 dark-after-bg-zinc2/5"
>
  <slot />
</li>
