---
import type { HTMLAttributes } from "astro/types"
import { cn } from "@lib/utils"

interface Props extends HTMLAttributes<'div'>{
}

const { class:className, ...rest } = Astro.props
---
<div class={`${cn('mx-auto wfull max-w-[83rem] px5 sm-px10 lg-px8', className)}`} {...rest}>
    <slot/>
</div>