<button
  data-switch-theme
  aria-label="Toggle Website Theme, Switch theme"
  class="rd-lg transition ease-linear hover-bg-zinc1/90 dark-hover-bg-zinc9/90 p2.5"
>
  <span aria-hidden="true" class="i-carbon-light flex dark-hidden text-xl"
  ></span>
  <span aria-hidden="true" class="i-carbon-moon hidden dark-flex text-xl"
  ></span>
</button>
