---
import NavLeftGroup from "@components/ui/NavLeftGroup.astro";
import MegaMenuBreakPoint from "@components/ui/MegaMenuBreackpoint.astro"
const navItems = [
  {
    href: "/docs/getting-started",
    text: "Docs",
  },
  {
    href: "/#",
    text: "Usage",
    hasDropdown: true,
  },
  {
    href: "/showcases",
    text: "Showcases",
  },
  {
    href: "/change-log",
    text: "Change log",
  },
];
---

<header
  class="sticky top-0 h16 lg-h20 z50 flex items-center b-b b-b-zinc2/60 dark-b-b-zinc8/60 lg-b-b-0"
>
  <nav
    class="flex justify-between items-center py4 gap8 max-w83rem px5 sm-px10 lg-px8 w-full mxauto relative before-absolute before-content-empty before-inset-0 before-z0 before-bg-white/60 dark-before-bg-zinc950/60 before-backdrop-blur-xl"
  >
    <div
      class="flex items-center gap-x3 flex-1 text-zinc7 dark-text-zinc3 relative"
    >
      <div
        class="flex lg-hidden pr0.5 py1 b-r b-zinc2/80 dark-b-zinc8/80 relative z90 -ml2.5"
      >
        <button
          data-toggle-navbar
          data-expanded="false"
          class="px2.5 relative space-y-2 [&[data-expanded=true]>#line-1]-rotate-45 [&[data-expanded=true]>#line-2]-rotate-45"
          aria-label="toggle navbar"
        >
          <span
            class="h0.5 flex w6 rd bg-zinc6 dark-bg-zinc4 transition duration-300"
            id="line-1"
            aria-hidden="true"></span>
          <span
            class="h0.5 flex w6 rd bg-zinc6 dark-bg-zinc4 transition duration-300"
            id="line-2"
            aria-hidden="true"></span>
        </button>
      </div>
      <a href="/" aria-label="Flexilla Home Page" class="">Flexilla</a>
    </div>
    <div
      data-navbar
      data-state="close"
      class="fixed w[calc(100%-30px)] lg-w[calc(100%-80px)] px4 sm-px8 py10 lg-py0 lg-px0 left-1/2 -translate-x-1/2 top-5 lg-top-0 rd-xl z80
      scale-80 op0 invisible data-[state=open]-ease-linear data-[state=open]-transition-all data-[state=open]-visible data-[state=open]-scale-100 data-[state=open]-op100
       h[calc(100dvh-40px)] lg-translate-x-0 lg-hmax lg-wmax lg-scale-100 lg-op100 lg-visible lg-left-0 lg-relative lg-rd-0 lg-z0 lg-data-[state=open]-transition-none
       bg-zinc1/90 dark-bg-zinc9/90 lg-bg-transparent lg-dark-bg-transparent before-backdrop-blur-6 before-rd-xl before-absolute before-inset-0 before-content-empty before-b before-b-zinc2/90 dark-before-b-zinc8/60 lg-before-bg-zinc1/60 dark-before-bg-zinc9/60">
      <ul
        class="relative flex flex-col lg-flex-row gap-y4 lg-gap0.5 lg-items-center lg-py0.5 lg-px1.5 text-zinc7 dark-text-zinc3 lg-!hover-children-op100 lg-children-hover-op60 lg-children-py1 hfull overflow-small-device lg-hauto"
      >
        {
          navItems.map((item) =>
            item.hasDropdown && item.text === "Usage" ? (
              <li class="ease-linear transition-opacity relative group">
                <a
                  href="#droplink"
                  aria-label="toggle dropdown"
                  class="flex items-center gap-x-2 py2 px3.5 rd-md ease-linear hover-bg-zinc1/90 dark-hover-bg-zinc9 hover-text-zinc9 dark-hover-text-white"
                >
                  {item.text}
                  <span
                    aria-hidden="true"
                    class="hidden lg-flex i-carbon-chevron-down text-sm"
                  />
                </a>
                <MegaMenuBreakPoint device="desktop" />
                <MegaMenuBreakPoint device="mobile" />
              </li>
            ) : (
              <li class="ease-linear transition-opacity">
                <a
                  href={item.href}
                  class="flex py2 px3.5 rd-md ease-linear hover-bg-zinc1/90 dark-hover-bg-zinc9 hover-text-zinc9 dark-hover-text-white"
                >
                  {item.text}
                </a>
              </li>
            )
          )
        }
      </ul>
    </div>
    <NavLeftGroup/>
  </nav>
</header>
