---
interface Props {
  icon: string;
  text: string;
  href: string;
  draft?: boolean;
  activeItem:string
}

const { icon, text, href, draft, activeItem } = Astro.props;
---

<li class="wfull">
  <a
    href={href}
    class={
        `flex items-center gap-x3 py1 wfull
        ${href === `/docs/${activeItem}` ? "text-zinc9 dark-text-white font-500" : "hover-text-zinc9 dark-hover-text-white"}`
    }
  >
    <span aria-hidden="true" class={` ${icon} flex text-lg`}></span>
    {text}
    {
      draft ? (
        <span class="flex self-end px1 pypx b b-zinc2/70 dark-b-zinc8/7 bg-zinc1/80 dark-bg-zinc/80 text-zinc8 dark-text-zinc2">
          Draft
        </span>
      ) : null
    }
  </a>
</li>