---
import Container from "@components/atoms/Container.astro";
import CardFeature from "./CardFeature.astro";

const features = [
  {
    title: "Completely unstyled",
    icon: "i-fx-unstyled",
    description:
      "Flexilla provides completely unstyled, interactive UI components designed for versatile integration. It seamlessly works with popular frameworks like Tailwind, UnoCSS, or your custom styles. You can also use it effortlessly with Bootstrap if needed.",
  },
  {
    title: "10+ Accessible & Interactive Components",
    icon: "i-carbon-cube",
    description:
      "Elevate your UI with Flexilla's library of over 10 accessible and interactive components, including accordions, tabs, dropdowns, and more.",
  },
];
---

<section class="pb24 pt38 lg-pt44">
  <Container class="space-y-16">
    <h2
      class="font-semibold text-3xl sm-text-4xl text-zinc9 dark-text-white mx-auto max-wxl text-center"
    >
    Experience everything you expect from an interactive UI component library.
    </h2>
    <div class="grid sm-grid-cols-2 gap4 mxauto max-w5xl">
      {features.map((feature) => <CardFeature {...feature} />)}
      <div
        class="sm-col-span-2 rd-xl b b-zinc2/40 dark-b-zinc8/30 bg-zinc1/80 dark-bg-zinc9/20 backdrop-blur-md relative overflow-hidden grid sm-grid-cols-2 gap5 md-gap8 md-pt10 px5 md-px0"
      >
        <span
          aria-hidden="true"
          class="absolute top-0 right-0 bg-gradient-to-tr from-zinc2 to-zinc3 dark-from-zinc8 dark-to-zinc8 rd-full size-18 blur-2xl"
        ></span>
        <div class="max-w120 flex flex-col gap-y5 md-gap-y8 md-px8 pt5 sm-pt8 md-py10">
          <div class="flex items-start gap-x4">
            <div
              aria-hidden="true"
              class="rd-lg bg-zinc2/40 dark-bg-zinc8/40 size-10 flex items-center justify-center"
            >
              <span class=`flex text-lg i-fx-unstyled`></span>
            </div>
            <h2 font-semibold text-lg text-zinc9 dark-text-white>
              Seamless Integration
            </h2>
          </div>
          <p text-zinc7 dark-text-zinc3>
            Flexilla ensures easy integration with your favorite frameworks like AstroJS, Laravel, Vue.js, Symphony, and more. 
            Playfully extend your project's capabilities with seamless compatibility.
          </p>
        </div>
        <div class="relative flex flex-wrap gap6 overflow-hidden bg-zinc2/50 dark-bg-zinc9/40 rd-tl-3xl pl4 pt4">
          <img src="/images/illustrationLight.svg" alt="illustration integration" width="1223" height="702.5" class="flex dark-hidden md-absolute md-top-1 md-right-1 md-hfull md-wauto"/>
          <img src="/images/illustrationDark.svg" alt="illustration integration" width="1223" height="702.5" class="hidden dark-flex md-absolute md-top-1 md-right-1 md-hfull md-wauto"/>
        </div>
      </div>
    </div>
  </Container>
</section>
