---
import { BtnQuickCopy } from "@components/preact/BtnQuickCopy.tsx";
import Container from "@components/atoms/Container.astro";
import DemoExample from "./DemoExample.astro"
import Link from "@components/atoms/Link.astro";
import Paragraph from "@components/atoms/Paragraph.astro";
---

<section class="relative pb2">
  <span aria-hidden="true" class="flex absolute top-0 inset-x-4 max-w1600px mx-auto h4/5 bg-gradient-to-t from-zinc1/40 dark-from-zinc9/10 rd-b-3xl"></span>
  <div aria-hidden="true" class="absolute inset-x-0 max-w-[83rem] mxauto bottom-0 h3/4 grid grid-cols-12 gap2 items-end rd-b-3xl overflow-hidden before-absolute before-content-empty before-inset-x-0 before-bottom-0 before-h10 before-bg-gradient-to-t before-from-zinc1 dark-before-from-zinc9">
    <span aria-hidden="true" class="flex bg-gradient-to-t from-zinc2 dark-from-zinc8/30 h2/5"></span>
    <span aria-hidden="true" class="flex bg-gradient-to-t from-zinc2 dark-from-zinc8/30 h3/5"></span>
    <span aria-hidden="true" class="flex bg-gradient-to-t from-zinc2 dark-from-zinc8/30 h4/5"></span>
    <span aria-hidden="true" class="flex bg-gradient-to-t from-zinc2 dark-from-zinc8/30"></span>
    <span aria-hidden="true" class="flex bg-gradient-to-t from-zinc2 dark-from-zinc8/30"></span>
    <span aria-hidden="true" class="flex bg-gradient-to-t from-zinc2 dark-from-zinc8/30"></span>
    <span aria-hidden="true" class="flex bg-gradient-to-t from-zinc2 dark-from-zinc8/30"></span>
    <span aria-hidden="true" class="flex bg-gradient-to-t from-zinc2 dark-from-zinc8/30"></span>
    <span aria-hidden="true" class="flex bg-gradient-to-t from-zinc2 dark-from-zinc8/30"></span>
    <span aria-hidden="true" class="flex bg-gradient-to-t from-zinc2 dark-from-zinc8/30 h4/5"></span>
    <span aria-hidden="true" class="flex bg-gradient-to-t from-zinc2 dark-from-zinc8/30 h3/5"></span>
    <span aria-hidden="true" class="flex bg-gradient-to-t from-zinc2 dark-from-zinc8/30 h2/5"></span>
  </div>
  <Container class={"py28 lg-py24 relative"}>
    <div class="max-w3xl mx-auto wfull text-center flex flex-col gap-y6 justify-center">
      <a href="/docs/accordion/" class="px3 py1 rd-xl bg-zinc1/80 dark-bg-zinc9/80 text-zinc8 dark-text-zinc2 max-wmax mxauto duration-200 hover-bg-zinc2/50 dark-hover-bg-zinc8/70">
        🎉 All components are ready now
      </a>
      <h1 class="font-bold capitalize text-4xl  sm-text-6xl mx-auto leading-tight text-transparent bg-clip-text bg-gradient-to-bl from-zinc8 to-zinc6 dark-from-zinc50 dark-to-zinc4 pb3">
        Seamless and Interactive UIs Components
      </h1>
      <Paragraph class={"mx-auto max-wlg"}>
        Boost your UI with accessible & interactive components like accordions, tabs, dropdowns, and more. 
      </Paragraph>
      <div class="flex justify-center flex-wrap items-center gap3">
        <Link href="/docs/">Get Started</Link>
        <BtnQuickCopy client:load />
      </div>
    </div>
  </Container>
  <DemoExample/>
</section>
