[data-fx-popper] {
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(var(--fx-popper-placement-x), var(--fx-popper-placement-y));
    -webkit-transform: translate(var(--fx-popper-placement-x), var(--fx-popper-placement-y));
    -moz-transform: translate(var(--fx-popper-placement-x), var(--fx-popper-placement-y));
    -ms-transform: translate(var(--fx-popper-placement-x), var(--fx-popper-placement-y));
    -o-transform: translate(var(--fx-popper-placement-x), var(--fx-popper-placement-y));
}