[data-fx-offcanvas-overlay] {
    position: fixed;
    inset: 0;
}

[data-fx-offcanvas-overlay][data-state=visible] {
    visibility: visible;
}

[data-fx-offcanvas-overlay][data-state=hidden] {
    visibility: hidden;
}