[data-fx-popper] {
    position: fixed;
    left    : var(--fx-popper-placement-x, 0px);
    top     : var(--fx-popper-placement-y, 0px);
}

[data-fx-tooltip] [data-fx-popper] {
    visibility: hidden
}

[data-fx-tooltip][data-state=open] [data-fx-popper] {
    visibility: visible
}