:root {
  --astro-code-color-text: #24292f;
  --astro-code-color-background: #ffffff;
  --astro-code-token-constant: #0550ae;
  --astro-code-token-string: #24292f;
  --astro-code-token-comment: #6e7781;
  --astro-code-token-keyword: #cf222e;
  --astro-code-token-parameter: #24292f;
  --astro-code-token-function: #8250df;
  --astro-code-token-string-expression: #0a3069;
  --astro-code-token-punctuation: #24292f;
  --astro-code-token-link: #000012;
}

html.dark {
  --astro-code-color-text: #c9d1d9;
  --astro-code-color-background: #0d1117;
  --astro-code-token-constant: #79c0ff;
  --astro-code-token-string: #a5d6ff;
  --astro-code-token-comment: #8b949e;
  --astro-code-token-keyword: #ff7b72;
  --astro-code-token-parameter: #c9d1d9;
  --astro-code-token-function: #d2a8ff;
  --astro-code-token-string-expression: #a5d6ff;
  --astro-code-token-punctuation: #c9d1d9;
  --astro-code-token-link: #000012;
}

.line.diff {
  transition: background-color 0.5s;
  position: relative;
  z-index: 1;
  margin: 0 -20px;
  padding: 0 20px;
  width: calc(100% + 40px);
  display: inline-block;
}


.line.diff.add::before,
.line.diff.remove::before {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 24px;
  padding-left: 4px;
  border-left-width: 3px;
}

.line.diff.add {
  --fx-gradient-from-position: 0%;
  --fx-gradient-from: rgb(34 211 238 / 0.02) var(--fx-gradient-from-position);
  --fx-gradient-to-position: 100%;
  --fx-gradient-to: rgb(8 145 178 / 0.09) var(--fx-gradient-to-position);
  --fx-gradient-stops: var(--fx-gradient-from), var(--fx-gradient-to);
  --fx-gradient-shape: to left;
  --fx-gradient: var(--fx-gradient-shape), var(--fx-gradient-stops);
  background-image: linear-gradient(var(--fx-gradient));
}

.line.diff.add::before {
  content: "+";
  color: rgb(14, 147, 180);
  border-left-color: rgb(14, 147, 180);
}

.line.diff.remove {
  --fx-gradient-from-position: 0%;
  --fx-gradient-from: rgb(220 38 38 / 0.05) var(--fx-gradient-from-position);
  --fx-gradient-to-position: 100%;
  --fx-gradient-to: rgb(248 113 113 / 0.04) var(--fx-gradient-to-position);
  --fx-gradient-stops: var(--fx-gradient-from), var(--fx-gradient-to);
  --fx-gradient-shape: to left;
  --fx-gradient: var(--fx-gradient-shape), var(--fx-gradient-stops);
  background-image: linear-gradient(var(--fx-gradient));
}

.line.diff.remove::before {
  content: "-";
  color: rgb(255, 0, 0);
  border-left-color: rgb(255, 0, 0);
}

[data-tab-fx-site] [data-tab-panel]:has([data-code-block]) {
  border: 0px !important;
  background-color: white !important;
  border-radius: 0px !important;
}

[data-tab-fx-site] [data-tab-panel] [data-code-block] {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

html.dark [data-tab-fx-site] [data-tab-panel]:has([data-code-block]) {
  background-color: rgb(9 9 11) !important;
}


div>code,
li>code,
h3>code {
  background-color: rgb(244 244 245 / 0.6);
  border-width: 1px;
  border-color: rgb(228 228 231 / 0.9);
  border-radius: 0.5rem;
  padding: 0.125rem 0.5rem;
  color: rgb(24 24 27);
}

html.dark div>code,
html.dark li>code,
html.dark h3>code {
  background-color: rgb(24 24 27 / 0.6);
  border-color: rgb(39 39 42 / 0.6);
  color: rgb(244 244 245);
}

[data-tab-panel][data-no-border] {
  border: 0 !important;
}

[data-tab-panel][data-no-bg],
.dark [data-tab-panel][data-no-bg] {
  background: transparent !important;
}

[data-hidden-scrollbar-s] .os-scrollbar {
  opacity: 0 !important;
  transition: ease .3s;
  -webkit-transition: ease .3s;
  -moz-transition: ease .3s;
  -ms-transition: ease .3s;
  -o-transition: ease .3s;
}

