---
import Accordion from "../components/Accordion.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Flexilla + ActroJS using CDN">
  <main class="max-w-3xl mx-auto space-y-16 relative py-20">
    <Accordion />
  </main>
</Layout>
<script type="module">
  import { Accordion } from "https://cdn.jsdelivr.net/npm/@flexilla/flexilla@latest/+esm";
  new Accordion("[data-fx-accordion]");
</script>
