---
import Accordion from "../components/Accordion.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Flexilla + ActroJS">
  <main class="max-w-3xl mx-auto space-y-16 relative pb-20">
    <Accordion />
  </main>
</Layout>
<script>
  import { Accordion } from "@flexilla/flexilla";
  new Accordion("[data-fx-accordion]");
</script>
