---
import Link from "@components/atoms/Link.astro";
import Layout from "../layouts/Layout.astro";
import PageHeader from "@components/ui/HeaderPage.astro";
import { showcase_ } from "@data/showcase";
import Container from "@components/atoms/Container.astro";
import CardShow from "@components/showcase/CardShow.astro";
---

<Layout
  title="Flexilla - showcase"
  description="Flexilla ShowcasExplore the Flexilla Showcase to see real-world examples and implementations of the versatile interactive component library."
  keywords="components, interactive components, showcase, flexilla showcase"
>
  <PageHeader
    title="Showcase"
    description="see real-world examples and implementations of the versatile interactive component library."
  >
    <div class="flex justify-center wfull">
      <Link href="/docs/" target={"_blank"} rel={"noreferrer noopener"}>
        Add Showcase
      </Link>
    </div>
  </PageHeader>
  <div class="py24">
    <Container class="space-y-16">
      {
        showcase_.map((item) => (
          <div class="space-y-6 mx-auto max-w6xl">
            <h2 class="text-lg font-semibold text-zinc9 dark-text-white">{item.section}</h2>
            <div class="grid sm-grid-cols-2 lg-grid-cols-3 gap-6">
              {item.items.map((case_) => (
                <CardShow {...case_} />
              ))}
            </div>
          </div>
        ))
      }
    </Container>
  </div>
</Layout>
