<div class="flex flex-col gap3 px4">
  <button
    data-collapse-trigger
    data-target="collapse1"
    class="bg-neutral8 text-white px-4 py-2 rounded-lg text-sm wmax"
  >
    Trigger Collapse
  </button>
  <div
    data-collapsible-example
    id="collapse1"
    class="overflow-hidden transition-all duration-300 ease-linear overflow-hidden w-full max-h-0 fx-open-max-h-none"
  >
    <div
      class="rd-md w-full bg-zinc2/50 dark-bg-zinc9/50 b b-zinc2/30 dark-b-zinc8/60 p4 inline-flex overflow-hidden"
    >
      <p class="inline-flex">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam,
        dolorum, incidunt facilis quasi non ea mollitia odio, iure adipisci
      </p>
    </div>
  </div>
</div>
