<div class="flex flex-col gap3">
    <div
        data-collapsible-example
        data-close-height="90"
        id="collapseMinHeight"
        class="overflow-hidden transition-all duration-300 ease-linear overflow-hidden w-full max-h-0 fx-open-max-h-none relative group"
    >
        <span
            class="absolute inset-x-0 h8 bg-gradient-to-t from-zinc2 dark-from-zinc9 flex -bottom-0.5 rd-b-lg z9 group-fx-open-hidden"
        ></span>
        <button
            data-collapse-trigger
            data-target="collapseMinHeight"
            class="bg-neutral8 text-white px-4 py-2 rounded-lg text-sm wmax absolute bottom-4 group-fx-open-bottom-2 ease-linear duration-200 left-1/2 -translate-x-1/2 z10"
        >
            Trigger Collapse
        </button>
        <div
            class="rd-md bg-zinc2/50 dark-bg-zinc9/50 b b-zinc2/30 dark-b-zinc8/60 px4 pt4 pb12 wfull hfull relative"
        >
            <div class="w-full flex flex-col space-y-3 overflow-hidden">
                <p class="inline-flex">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Laboriosam, dolorum, incidunt facilis quasi non ea mollitia
                    odio, iure adipisci
                </p>
                <p class="inline-flex">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Laboriosam, dolorum, incidunt facilis quasi non ea mollitia
                    odio, iure adipisci
                </p>
                <p class="inline-flex">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Laboriosam, dolorum, incidunt facilis quasi non ea mollitia
                    odio, iure adipisci
                </p>
                <p class="inline-flex">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Laboriosam, dolorum, incidunt facilis quasi non ea mollitia
                    odio, iure adipisci
                </p>
            </div>
        </div>
    </div>
</div>

