<div class="max-w2xl mxauto px4 py2">
  <div data-dismissible class="wfull p5 rd-lg bg-zinc1/90 dark-bg-zinc9/90">
    <div
      class="bg-zinc2/90 bg-zinc8/90 rd-md px3 py1.5 flex items-center justify-between"
    >
    <h2 class="text-zinc8 dark-text-white text-lg font-semibold">Hide Element from Screen</h2>
      <button
        data-dismiss-btn
        aria-label="remove from screen"
        class="p2 text-zinc7 dark-text-zinc3 p3 hover-bg-zinc2/80 dark-hover-bg-zinc8/80 rd-full"
      >
        <span class="flex i-carbon-close"></span>
      </button>
    </div>
    <div class="pt5 space-y-4">
      <div class="wmax p3 rd-full bg-red2 text-red6">
        <span class="flex i-carbon-accessibility text-lg"></span>
      </div>
      <h2 class="font-semibold text-xl text-zinc9 dark-text-white">
        You neen to add new user
      </h2>
      <p class="text-zinc7 dark-text-zinc3">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      </p>
    </div>
  </div>
</div>
