<button data-dropdown-trigger data-dropdown-id="dropdown-6"
    class="b b-zinc8 hover-bg-zinc950 bg-zinc9 text-white px4 py2 rd-lg text-sm flex items-center gap-x2 [&[aria-expanded=true]>span]-rotate-180">
    Open Dropdown
    <span aria-hidden="true" class="flex ease-linear i-carbon-chevron-down duration-200"></span>
</button>
<div role="list" id="dropdown-6" data-dropdown-demo
    class="ui-popper z20 w56 p2 b b-zinc8 bg-zinc9/80 text-zinc50 backdrop-filter backdrop-blur-xl rd-lg flex flex-col overflow-hidden op0 invisible fx-open-op100 fx-open-visible">
    <div class="pb-2 b-b mb2 b-b-zinc6 flex items-center gap-x3">
        <span class="w9 h9 bg-zinc950 rd-full flex items-center justify-center text-zinc1">
            <span class="flex i-carbon-user-activity"></span>
        </span>
        <div class="flex items-start flex-col">
            <h4 class="font-semibold text-white">Johnkat MJ</h4>
            <span class="text-sm text-zinc3">FrontEnd Designer</span>
        </div>
    </div>
    <div role="list">
        <a href="#"
          class="focus-outline focus-bg-zinc9/90 outline-none focus-outline-blue5 ease-linear flex items-center gap-x3 hover-bg-zinc8/80 p2 rd-md">
          <span aria-hidden="true" class="flex ease-linear duration-200 i-carbon-edit"></span>
          Edit Profile
        </a>
        <a href="#"
          class="focus-outline focus-bg-zinc9/90 outline-none focus-outline-blue5 ease-linear flex items-center gap-x3 hover-bg-zinc8/80 p2 rd-md">
          <span aria-hidden="true" class="flex ease-linear duration-200 i-carbon-settings"></span>
          Setting
        </a>
        <a href="#"
          class="focus-outline focus-bg-zinc9/90 outline-none focus-outline-blue5 ease-linear flex items-center gap-x3 hover-bg-zinc8/80 p2 rd-md">
          <span aria-hidden="true" class="flex ease-linear duration-200 i-carbon-activity"></span>
          Billing
        </a>
    </div>
</div>