<div class="flex flex-col space-y-3 px4 max-wlg">
  <button
    data-collapse-trigger
    data-target="collapseH"
    class="wmax bg-gradient-to-bl from-zinc2 to-zinc50 b b-zinc2/80 dark-from-zinc8 dark-to-zinc9 dark-b-zinc8/80 px-4 py-2 rounded-lg text-sm"
  >
    Toggle Content
  </button>
  <div
    data-collapsible-example
    id="collapseH"
    data-orientation="horizontal"
    class="transition-all duration-300 ease-linear overflow-hidden"
  >
    <div
      class="rd-md w-full bg-zinc1/5 dark-bg-zinc9/5 b b-zinc2/80 dark-b-zinc8/80 p4 overflow-hidden"
    >
      <p class="flex p8 bg-zinc1/90 dark-bg-zinc9/90 rd-lg">
        Content
      </p>
    </div>
  </div>
</div>
