<button data-offcanvas-trigger data-target="slide-over-from-left"
    aria-controls="slide-over-from-left" class="bg-neutral8 text-white px4 py2 rd-lg text-sm">
    Open from left
</button>
<div data-fx-offcanvas data-slideover-demo 
    id="slide-over-from-left" aria-labelledby="slide-over-from-left"
    class="fixed h100dvh wfull max-wsm -left-full top-0 fx-open-left-0 ease-linear duration-200 p4 bg-zinc1 dark-bg-zinc9 flex z90">
    <div class="size-full b b-dashed b-zinc2 dark-b-zinc8">
        <button data-offcanvas-close class="p4">
            Close it
        </button>
    </div>
</div>