<div class="p10">
    <button data-popover-trigger data-popover-id="demo-popover" class="bg-neutral8 text-white px4 py2 rd-lg text-sm">
        Show PopOver
    </button>
    <div data-fx-popover id="demo-popover" class="ui-popper invisible op0 fx-open-visible fx-open-op100 w64 z20 p6 bg-zinc1 dark-bg-zinc9/50 backdrop-blur-xl z30 rd-md h48">
        this is content
    </div>
</div>