<div class="p4 md-p10 wfull">
    <div
        data-tab-fx-site
        data-fx-tabs
        data-indicator-class-name="ui-tabs-indicator bg-zinc-200 dark:bg-zinc-800 flex rounded absolute ease-linear duration-200"
        class="w-full"
    >
        <div data-tab-list-wrapper class="flex w-full">
            <ul
                data-tab-list
                role="tablist"
                class="flex items-center relative p-0.5 bg-zinc-100 dark:bg-zinc-900/50 w-full rounded-md *:cursor-pointer"
            >
                <li role="presentation" class="flex">
                    <a
                        href="#"
                        role="tab"
                        data-tabs-trigger
                        data-target="tab1"
                        data-state="active"
                        tabindex="0"
                        class="px-4 py-2 rounded text-zinc-700 dark:text-zinc-300 disabled:cursor-not-allowed disabled:opacity-80 relative z-20"
                    >
                        Tab 1
                    </a>
                </li>
                <li role="presentation" class="flex">
                    <a
                        href="#"
                        role="tab"
                        data-tabs-trigger
                        data-target="tab2"
                        data-state="active"
                        tabindex="-1"
                        class="px-4 py-2 rounded text-zinc-700 dark:text-zinc-300 disabled:cursor-not-allowed disabled:opacity-80 relative z-20"
                    >
                        Tab 2
                    </a>
                </li>
                <li role="presentation" class="flex">
                    <a
                        href="#"
                        role="tab"
                        data-tabs-trigger
                        data-target="tab3"
                        data-state="active"
                        tabindex="-1"
                        class="px-4 py-2 rounded text-zinc-700 dark:text-zinc-300 disabled:cursor-not-allowed disabled:opacity-80 relative z-20"
                    >
                        Tab 3
                    </a>
                </li>
            </ul>
        </div>
        <div
            data-panels-container
            class="h-max bg-zinc-100 text-zinc-700 dark:text-zinc-300 dark:bg-zinc-900/50 rounded-lg"
        >
            <section
                role="tabpanel"
                class="hidden fx-active:flex ring-offset-zinc-950 h-48 p-20 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-red5 focus-visible:ring-offset-2 border border-zinc-200 dark:border-zinc-800 rounded-md mt-2"
                data-tab-panel
                id="tab1"
                data-state="active"
                aria-labelledby="tab1"
            >
                Tab1 Content
            </section>
            <section
                role="tabpanel"
                class="hidden fx-active:flex ring-offset-zinc-950 h-48 p-20 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-red5 focus-visible:ring-offset-2 border border-zinc-200 dark:border-zinc-800 rounded-md mt-2"
                data-tab-panel
                id="tab2"
                aria-labelledby="tab2"
            >
                Tab 2
            </section>
            <section
                role="tabpanel"
                class="hidden fx-active:flex ring-offset-zinc-950 h-48 p-20 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-red5 focus-visible:ring-offset-2 border border-zinc-200 dark:border-zinc-800 rounded-md mt-2"
                data-tab-panel
                id="tab3"
                aria-labelledby="tab3"
            >
                Tab 3
            </section>
        </div>
    </div>
</div>
