<div data-fx-tabs data-tab-fx-site class="wfull p4 md-p10">
    <div data-tab-list-wrapper class="flex wfull">
        <ul data-tab-list role="tablist"
            class="flex items-center relative h12 px1 bg-zinc1 dark-bg-zinc9/50 wfull rd-md children-cursor-pointer">
            <li role="presentation" class="flex">
                <a href="#link" data-tabs-trigger data-target="tab1" tabindex="0"
                    class="px4 py2 rd text-zinc7 dark-text-zinc3 disabled-cursor-not-allowed disabled-op80 fx-active-bg-zinc2 dark-fx-active-bg-zinc8 outline outline-1 outline-transparent focus-outline-blue5 dark-focus-outline-blue4">
                    Tabs1
                </a>
            </li>
            <li>
                <a href="#link" data-tabs-trigger data-target="tab2" tabindex="-1"
                    class="px4 py2 rd text-zinc7 dark-text-zinc3 disabled-cursor-not-allowed disabled-op80 fx-active-bg-zinc2 dark-fx-active-bg-zinc8 outline outline-1 outline-transparent focus-outline-blue5 dark-focus-outline-blue4">
                    Tabs2
                </a>
            </li>
            <li>
                <a href="#link" data-tabs-trigger data-target="tab3" tabindex="-1"
                    class="px4 py2 rd text-zinc7 dark-text-zinc3 disabled-cursor-not-allowed disabled-op80 fx-active-bg-zinc2 dark-fx-active-bg-zinc8 outline outline-1 outline-transparent focus-outline-blue5 dark-focus-outline-blue4">
                    Tabs3
                </a>
            </li>
        </ul>
    </div>
    <div data-panels-container class="bg-zinc1 dark-bg-zinc9/50 text-zinc7 dark-text-zinc3 rd-md">
        <section role="tabpanel" tabindex="0"
            class="hidden fx-active-flex ring-offset-zinc950 p20 focus-visible-outline-none focus-visible-ring-2 focus-visible-ring-red5 focus-visible-ring-offset-2 b b-zinc2 dark-b-zinc8 rd-md mt2"
            data-tab-panel data-state="active" id="tab1" aria-labelledby="tab1">
            Tab 1 Content
        </section>
        <section role="tabpanel" tabindex="0"
            class="hidden fx-active-flex ring-offset-zinc950 p20 focus-visible-outline-none focus-visible-ring-2 focus-visible-ring-red5 focus-visible-ring-offset-2 b b-zinc2 dark-b-zinc8 rd-md mt2"
            data-tab-panel id="tab2" aria-labelledby="tab2">
            Tab 2 Content
        </section>
        <section role="tabpanel" tabindex="0"
            class="hidden fx-active-flex ring-offset-zinc950 p20 focus-visible-outline-none focus-visible-ring-2 focus-visible-ring-red5 focus-visible-ring-offset-2 b b-zinc2 dark-b-zinc8 rd-md mt2"
            data-tab-panel id="tab3" aria-labelledby="tab3">
            Tab 3 Content
        </section>
    </div>
</div>