<div class="flex items-center gap4 relative">
    <button aria-label="tooltip with default placement" data-tooltip-trigger data-tooltip-id="tooltip-test"
    class="relative bg-zinc8 text-white b b-zinc8 p2 rd-full">
        <span aria-hidden="true" class="flex i-carbon-chevron-down"></span>
    </button>
    <div data-tooltip-demo data-placement="bottom" id="tooltip-test"
    class="ui-popper invisible op0 fx-open-visible fx-open-op100 w48 px4 py1.5 text-center text-zinc6 truncate bg-white rd-lg shadow-lg dark-shadow-none shadow-zinc2 dark-bg-zinc8 dark-text-white">
        <p>
            This is a tooltip
        </p>
    </div>

    <button aria-label="tooltip with default placement" data-tooltip-trigger data-tooltip-id="tooltip-test2"
        class="relative bg-zinc8 text-white b b-zinc8 p2 rd-full">
        <span aria-hidden="true" class="flex i-carbon-chevron-up"></span>
    </button>
    <div data-tooltip-demo data-placement="top" id="tooltip-test2"
        class="ui-popper invisible op0 fx-open-visible fx-open-op100 w48 px4 py1.5 text-center text-zinc6 truncate bg-white rd-lg shadow-lg dark-shadow-none shadow-zinc2 dark-bg-zinc8 dark-text-white">
        <p>
            This is a tooltip
        </p>
    </div>

    <button aria-label="tooltip with default placement" data-tooltip-trigger data-tooltip-id="tooltip-test3"
        class="relative bg-zinc8 text-white b b-zinc8 p2 rd-full">
        <span aria-hidden="true" class="flex i-carbon-chevron-left"></span>
    </button>
    <div data-tooltip-demo data-placement="left" id="tooltip-test3"
        class="ui-popper invisible op0 fx-open-visible fx-open-op100 w48 px4 py1.5 text-center text-zinc6 truncate bg-white rd-lg shadow-lg dark-shadow-none shadow-zinc2 dark-bg-zinc8 dark-text-white">
        <p>
        This is a tooltip
        </p>
    </div>

    <button aria-label="tooltip with default placement" data-tooltip-trigger data-tooltip-id="tooltip-test4"
        class="relative bg-zinc8 text-white b b-zinc8 p2 rd-full">
        <span aria-hidden="true" class="flex i-carbon-chevron-right"></span>
    </button>
    <div data-tooltip-demo data-placement="right" id="tooltip-test4"
        class="ui-popper invisible op0 fx-open-visible fx-open-op100 w48 px4 py1.5 text-center text-zinc6 truncate bg-white rd-lg shadow-lg dark-shadow-none shadow-zinc2 dark-bg-zinc8 dark-text-white">
        <p>
        This is a tooltip
        </p>
    </div>
</div>