[data-fx-tooltip] {
    visibility: hidden;
    position  : fixed;
    left      : var(--fx-popper-placement-x, 0px);
    top       : var(--fx-popper-placement-y, 0px);
}

[data-fx-tooltip][data-state="open"] {
    visibility: visible;
}