---
interface Props{
    showText?:boolean
}

const {showText} = Astro.props
---
<a href="/" aria-label="Flexilla Home Page" class="flex gap-x1.5 items-center">
    <img src="/logo-light.svg" class="h6 md-h8 wauto hidden dark-flex" width="440" height="410" alt="Flexilla Logo"/>
    <img src="/logo-dark.svg" class="h6 md-h8 wauto flex dark-hidden" width="440" height="410" alt="Flexilla Logo Dark"/>
    <span class={
        `
        ${showText ? "flex" :"hidden sm-flex"} text-transparent bg-clip-text bg-gradient-to-tr from-zinc-950 to-zinc6 dark-from-zinc50 dark-to-zinc3 text-xl font-bold

        `
    }>
        Flexilla
    </span>
</a>