---
import Container from "./../atoms/Container.astro";
import Paragraph from "./../atoms/Paragraph.astro";
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<section class="py20 relative">
  <span
    aria-hidden="true"
    class="flex absolute top-0 inset-4 max-w1600px mxauto bg-gradient-to-t from-zinc1/40 dark-from-zinc9/10 rd-b-3xl"
  ></span>
  <div aria-hidden="true" class="absolute inset-x-0 max-w1600px mxauto bottom-0 h3/4 grid grid-cols-12 gap2 items-end rd-b-3xl overflow-hidden before-absolute before-content-empty before-inset-x-0 before-bottom-0 before-h10 before-bg-gradient-to-t before-from-zinc1 dark-before-from-zinc9">
    <span aria-hidden="true" class="flex bg-gradient-to-t from-zinc2 dark-from-zinc9/90 h2/5"></span>
    <span aria-hidden="true" class="flex bg-gradient-to-t from-zinc2 dark-from-zinc9/90 h3/5"></span>
    <span aria-hidden="true" class="flex bg-gradient-to-t from-zinc2 dark-from-zinc9/90 h4/5"></span>
    <span aria-hidden="true" class="flex bg-gradient-to-t from-zinc2 dark-from-zinc9/90"></span>
    <span aria-hidden="true" class="flex bg-gradient-to-t from-zinc2 dark-from-zinc9/90"></span>
    <span aria-hidden="true" class="flex bg-gradient-to-t from-zinc2 dark-from-zinc9/90"></span>
    <span aria-hidden="true" class="flex bg-gradient-to-t from-zinc2 dark-from-zinc9/90"></span>
    <span aria-hidden="true" class="flex bg-gradient-to-t from-zinc2 dark-from-zinc9/90"></span>
    <span aria-hidden="true" class="flex bg-gradient-to-t from-zinc2 dark-from-zinc9/90"></span>
    <span aria-hidden="true" class="flex bg-gradient-to-t from-zinc2 dark-from-zinc9/90 h4/5"></span>
    <span aria-hidden="true" class="flex bg-gradient-to-t from-zinc2 dark-from-zinc9/90 h3/5"></span>
    <span aria-hidden="true" class="flex bg-gradient-to-t from-zinc2 dark-from-zinc9/90 h2/5"></span>
  </div>
  <Container class={"relative"}>
    <div
      class="max-w3xl mx-auto wfull text-center flex flex-col gap-y6 justify-center"
    >
      <h1
        class="font-bold capitalize text-4xl sm-text-6xl mx-auto leading-tight text-transparent bg-clip-text bg-gradient-to-bl from-zinc8 to-zinc6 dark-from-zinc50 dark-to-zinc4 pb3"
      >
        {title}
      </h1>
      <Paragraph class={"mx-auto max-wlg"}>
        {description}
      </Paragraph>
      <slot/>
    </div>
  </Container>
</section>
