---
import SwitchThemeBtn from "./../atoms/SwitchThemeBtn.astro";
---

<div
  class="relative flex-1 flex justify-end items-center gap-2 text-zinc7 dark-text-zinc3"
>
  <a
    href="https://discord.gg/6VN6zTPZAy"
    target="_blank"
    aria-label="Link to UnifyUI Community Discord"
    class="rd-lg transition ease-linear flex relative hover-bg-zinc2/90 dark-hover-bg-zinc9/90 p2.5"
  >
    <span aria-hidden="true" class="i-carbon-logo-discord flex text-xl"></span>
  </a>
  <a
    href="https://github.com/unify-ui-dev/flexilla"
    target="_blank"
    aria-label="Link to Flexilla Repository"
    class="rd-lg transition ease-linear flex relative hover-bg-zinc2/90 dark-hover-bg-zinc9/90 p2.5"
  >
    <span aria-hidden="true" class="i-carbon-logo-github flex text-xl"></span>
  </a>
  <SwitchThemeBtn />
</div>
