---
import SidebarGroup from "./blocks/SidebarGroup.astro";
import {sidebarItems} from "./DataItems.astro";
interface Props {
  activeItem: string;
}


const { activeItem } = Astro.props;
---

<aside
  data-sidebar-offcanvas
  id="doc_sidebar"
  data-offcanvas-backdrop="ui-overlay bg-zinc8/20 backdrop-blur-md z60 lg-hidden invisible fx-visible-visible"
  class="flex invisible md-visible -translate-x-full transition md-transition-none fx-open-visible fx-open-translate-x-0 
  md-translate-x-0 h100dvh md-h-[calc(100vh-4.375rem)] fixed md-sticky top-0 md-top-17.5 
  w11/12 max-w64 sm-w60 md-max-wnone md-wfull md-pl10 lg-pl0 z60 bg-white/60 dark-bg-zinc950/60 backdrop-blur-xl md-backdrop-filter-none md-bg-transparent md-dark-bg-transparent md-b-r md-b-r-zinc2/80 dark-md-b-r-zinc8/40"
>
  <div
    data-hidden-scrollbar-s
    data-overlayscrollbars-initialize
    data-sidebar-content
    class="overflow-hidden overflow-y-auto hfull wfull py6 md-py1"
  >
    <nav class="flex flex-col space-y-8 wfull md-py4 px5 sm-px8 md-px0">
      {
        sidebarItems.map((sidebarItem) => (
          <SidebarGroup activeItem={activeItem} {...sidebarItem} />
        ))
      }
    </nav>
  </div>
</aside>
<script>
  import { OffCanvas } from "@flexilla/flexilla";
  new OffCanvas("[data-sidebar-offcanvas]");
</script>
